.App{
  max-width: 415px;
  margin: 0 auto;
  background-color: white;
  min-height: 100vh;
}

.web-title{
  text-align: center;
  padding: 20px 0;
  font-weight: 600;
}

.nav{
  display: flex;
}

.nav-item{
  text-align: center;
  flex: 1 1 0;
  text-decoration: none;
  font-size: small;
}

.nav-item:not(:last-child){
  border-right: 1px gray solid;
}

.section {
  padding: 30px;
}

.section-title{
  margin-top : 0;
  text-align: center;
}

.section-content{
  text-align: justify;
}

article{
  margin-top: 0;
  /* padding: 20px; */
  border-bottom: 1px solid rgb(172, 155, 155);
  padding: 10px 0;
  width: 100%;
}

article a{
  text-decoration: none;
}

article>p{
  font-size: small;
}

article>a{
  font-size: small;
}

article>h2{
  font-size:larger;
  text-align: center;
}

.article-content{
  text-align: justify;
  font-size: small;
  line-height:18px;
}

.article-image{
  max-width: 100%;
  height: auto;
}